<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sign">
    <test name="Regression">
        <classes>
            <class name="RegistrationTest"/>
            <class name="LoginTest"/>
            <class name="SearchTest"/>
        </classes>
    </test>
</suite>